<?xml version="1.0" encoding="utf-8"?>
<!-- IIS (discountasp.net) config for the /slowbend folder:
     serve the PWA manifest with the correct MIME type. -->
<configuration>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".webmanifest" />
      <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
    </staticContent>
  </system.webServer>
</configuration>
